@import "../../../../../../../styles/sass/index.scss";

.jd-content-eh {
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  font-family: $dmSans;
  color: $onyx;
}
.jd-title-eh {
  margin-top: 10px;
  font-weight: 550;
  font-size: 14px;
  font-family: $dmSans;
  color: $onyx;
}
.card-icon-arrow-eh {
  height: 12px;
  color: $amethyst;
  margin: 4px 10px 0 0;
}
