@import "../../../../../../styles/sass/index.scss";

.ww-profile-tab-container {
  margin-top: 10px;
}
.tab-headers {
  background-color: $white !important;
  color: $black !important;
  border-bottom: none !important;
  &:hover,
  &:active {
    background-color: $white !important;
  }
}
.profile-nav-tabs {
  font-stretch: ultra-expanded;
  font-size: 18px;
  border: none !important;
  border-bottom: solid 1px $geyser !important;
  color: $davysgrey;
  opacity: 0.8;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: $dmSans;
  &:hover {
    font-stretch: ultra-expanded;
    border-bottom: solid 1px $black !important;
    color: $black !important;
    opacity: 1;
  }
}
.profile-nav-tabs.active {
  font-stretch: ultra-expanded;
  border-bottom: solid 1px $black !important;
  color: $black !important;
  opacity: 1;
}
