REACT_APP_USERNAME= <username>
REACT_APP_PASSWORD= <password>
REACT_APP_CAND_USERNAME= <candidate_username>
REACT_APP_CAND_PASSWORD= <candidate_password>
REACT_APP_WENEX_API_ROOT= <api_endpoint>
REACT_APP_WENEX_API_VERSION= <api_version>