@import "../../../../../../styles/sass/index.scss";

.eh-jb-card {
    border: none !important;
    margin-top: 55px;
}
.eh-jb-tab-headers {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: $white !important;
  color: $black !important;
  border-bottom: transparent !important;
  &:hover,
  &:active {
    background-color: $white !important;
  }
}
.eh-jb-tab-border{
  border-bottom: transparent !important;
}
.eh-jb-profile-nav-tabs {
  font-stretch: ultra-expanded;
  font-size: 18px;
  border: none !important;
  color: $davysgrey;
  opacity: 0.8;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: $dmSans;
  &:hover {
    font-stretch: ultra-expanded;
    border-bottom: solid 2px $bluediamond !important;
    color: $bluediamond !important;
    opacity: 1;
  }
}
.eh-jb-profile-nav-tabs.active {
  font-stretch: semi-expanded;
  border-bottom: solid 2px $bluediamond !important;
  width: 100%;
  color: $bluediamond !important;
  opacity: 1;
}
.eh-row-job-tab {
  content: "";
  clear: both;
  // display: table;
  // display: inline-block;
  vertical-align: middle;
}
.eh-column-job-tab-left {
  float: left;
  padding-right: 15px;
}
.eh-column-job-tab-right {
  float: right;
  padding-left: 15px;
}
@media screen and (max-width: 960px) {
.eh-jb-card {
    margin-top: 55px;
}
}