@import "src/styles/sass/colors.scss";

:export {
  white: $white;
  onyx: $onyx;
  lightsalmon: $lightsalmon;
  darkturquoise: $darkturquoise;
  raisinblack: $raisinblack;
  black: $black;
  gainsboro: $gainsboro;
  isabelline: $isabelline;
  gainsboro: $gainsboro;
  lemonchiffon: $lemonchiffon;
  tangerineyellow: $tangerineyellow;
  shandy: $shandy;
  cultured: $cultured;
  davysgrey: $davysgrey;
  suvagrey: $suvagrey;
  silver: $silver;
  orange: $orange;
  lightcayan: $lightcayan;
  violentviolet: $violentviolet;
  blackcurrant: $blackcurrant;
  darkslateblue: $darkslateblue;
  aliceblue: $aliceblue;
  aqua: $aqua;
  robineggblue: $robineggblue;
  chetwodeblue: $chetwodeblue;
  sinbad: $sinbad;
  bayofmany: $bayofmany;
  darkcerulean: $darkcerulean;
  endeavour: $endeavour; //link color
  salem: $salem;
  eucalyptus: $eucalyptus;
  emerald: $emerald;
  lightskyblue: $lightskyblue;
  mintcream: $mintcream;
  pattensblue: $pattensblue;
  bahamablue: $bahamablue;
  rust: $rust;
  coral: $coral;
  freespeechmagneta: $freespeechmagneta;
  dodgerblue: $dodgerblue;
  brightturquoise: $brightturquoise;
  shadessalmon: $shadessalmon;
  resolutionblue: $resolutionblue;
  whisper: $whisper;
  perano: $perano;
  christalle: $christalle;
  zumthor: $zumthor;
  zircon: $zircon;
  blackpearl: $blackpearl;
  darkgreen: $darkgreen;
  tuliptree: $tuliptree;
  seashell: $seashell;
  ivory: $ivory;
  darkgray: $darkgray;
  scorpion: $scorpion;
  bombay: $bombay;
  raven: $raven;
  oslogray: $oslogray;
  alto: $alto;
  cerulean: $cerulean;
  screamingreen: $screamingreen;
  alabaster: $alabaster;
  geyser: $geyser;
  codgray: $codgray;
}
