@import "../../../../../../styles/sass/index.scss";

.eh-list-job-card-content {
  border-radius: 1px;
  background-color: $white;
  transition: transform 0.3s;
  display: "block";
  margin-bottom: 15px;
  box-shadow: 0 1px 20px 0px rgba(10, 0, 10, 0.2);
  min-height: 260px !important;
  &:hover {
    transform: scale(1.01);
  }
}
.eh-list-job-jb-container {
  margin-top: 70px;;
  height: 300px;
}
.eh-list-job-card-header {
  font-weight: 600;
  font-size: 16px;
  font-family: $dmSans;
  color: $onyx;
  cursor: pointer;
}
.eh-list-job-card-header:hover {
  background: $gainsborolight !important;
}
.eh-list-job-card-title {
  font-weight: 500;
  font-size: 16px;
  font-family: $dmSans;
  color: $bayofmany;
  min-height: 50px;
}
.eh-list-job-job-title {
  font-weight: 550;
  font-size: 15px;
  font-family: $dmSans;
  color: $onyx;
  margin-top: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eh-list-job-content-text {
  font-weight: 400;
  font-size: 13px;
  font-family: $dmSans;
  color: $onyx;
}
.eh-list-job-content-text-jd {
  margin-top: 8px;
  font-weight: 400;
  font-size: 13px;
  font-family: $dmSans;
  color: $onyx;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eh-list-job-content-text-keywords {
  font-weight: 300;
  font-size: 12px;
  font-family: $dmSans;
  color: $onyx;
  margin-right: 5px;
}
.eh-list-job-card-button {
  background-image: linear-gradient(
    10deg,
    $bluediamond 0%,
    $purpleheart 100%
  );
  border: 1px solid $purpleheart !important;
  border-radius: 3px;
  margin: 1px 3px 2px 5px;
  height: 35px;
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
  color: $white !important;
  font-family: $dmSans;
  font-weight: bold;
  font-size: 15px;
}
.eh-list-job-jb-toggle {
  color: $lightsalmon !important;
  border: none !important;
  background-color: transparent !important;
  &:focus {
    border: none !important;
    outline: 0;
    box-shadow: none !important;
  }
  &:hover {
    cursor: pointer;
  }
}
.eh-list-job-btn-text {
  font-weight: 300;
  font-size: 14px;
  font-family: $dmSans;
  bottom: 2px;
  position: relative;
}
.eh-list-job-card-save-icon {
  color: $amethyst;
  margin: 0 5px 5px 0;
}
.eh-list-job-card-icon {
  height: 12px;
  color: $amethyst;
  margin: 4px 8px 0 0;
}
.eh-list-job-card-icon-arrow {
  height: 25px;
  color: $purpleheart;
  margin: 4px 0 5px 50px;
}
.eh-list-job-card-icon-bullet {
  height: 5px;
  color: $darkturquoise;
  margin: 0px 2px 4px 5px;
}
.eh-list-job-content-keywords {
  @include flex-start;
  padding: 10px 0 0 0;
  max-width: min-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eh-list-job-col-left {
  @include flex-start;
}
.eh-list-job-col-right {
  @include flex-end;
}
.eh-list-job-col-center {
  @include flex-center;
}
.eh-list-job-card-row-one {
  padding: 5px 0 0 0;
  margin: 2;
}
.eh-list-job-jb-card-img {
  height: auto;
  width: 55px;
  max-height: 35px !important;
}
.eh-list-job-card-modal-body {
  background-color: $magnolia !important;
}
.eh-list-job-card-modal {
  display: block;
}
.eh-list-job-row-top {
  margin: 60px 0 10px 0;
}
.eh-list-job-jb-card-margin {
  margin-bottom: 20px;
}
.eh-list-job-jb-input-contact {
  margin: 15px 0px 20px 0px;
  font-family: $dmSans;
  font-size: 16px !important;
  border: 1px solid $gainsboro !important;
  border-radius: 2px !important;
  background-color: $white;
  &:hover {
    border: 1px solid $lightsalmon !important;
  }
  &:focus {
    border-color: $lightsalmon !important;
    box-shadow: none !important;
  }
}
.eh-list-job-jb-upload-label {
  margin-left: 2px;
  font-weight: 550;
  font-family: $dmSans;
  font-size: 16px !important;
  color: $onyx;
}
.eh-list-job-jb-resume-upload {
  border: 1px solid $gainsboro !important;
  height: 35px;
  margin: 5px 0px 10px 0px;
  width: 75%;
  border-radius: 2px !important;
  background-color: $white;
  &:focus {
    box-shadow: none !important;
  }
}
.eh-list-job-apply-modal {
  font-family: $dmSans;
  font-weight: 550;
  font-size: 14px !important;
  text-transform: capitalize;
}
.eh-list-job-success-apply {
  background: $screamingreen;
}
@media screen and (max-width: 960px) {
  .eh-list-job-jb-container {
    margin-top: 100px;
  }
}
