@import '../../../../styles/sass/index.scss';

.ww-resume-proj-range-date {
  width: 100%;
  padding: 13px;
  border: 1px thin $silver !important;
}
.ww-resume-exp-points {
  border: 1px thin $silver !important;
  border-radius: none !important;
  height: 105px !important;
   &:hover, &:focus {
        border-color: $suvagrey !important;
        box-shadow: none !important;
    }
}
.ww-resume-exp-save-btn {
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  display: inline !important;
  background-image: linear-gradient(
    0deg,
    $tangerineyellow 0%,
    $lemonchiffon 100%
  );
  color: $blackpearl;
  border-radius: 5px !important;
  padding: 15px 5px 15px 10px !important;
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
  &:hover {
    color: $blackpearl; 
  }
}