@import '../../../styles/sass/index.scss';

.navbar {
  background-color: $white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  // background: linear-gradient(25deg, var(--nav-bg-wnx), var(--nav-bg-wnx-dark));
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}

.nav-logo {
  color: $blackpearl;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: left;
  padding-top: 10px;
  margin-right: 2rem;
}

.nav-links {
  font-size: 16px;
  font-style: initial;
  color: $bayofmany;
  text-decoration: none;
  height: 100%;
  border-bottom: 1px solid transparent;
}
.nav-product-header {
  font-size: 16px;
  font-style: initial;
  color: $bayofmany;
}

.show>.nav-links:focus {
  color: $coral;
}

.show>.nav-links::after {
  color: $coral;
}

.nav-links:hover {
  color: $blackcurrant !important;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 28px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 0px;
  width: 0;
  background: $aliceblue;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: $aliceblue;
}

.nav-login-button {
  font-size: 15px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 4px 15px 4px 10px;
  text-decoration: none;
  color: $blackpearl !important;
  background-image: linear-gradient(0deg, $tangerineyellow 0%, $lemonchiffon 100%);
}
.nav-login-button:focus{
  outline: none;
  box-shadow:none !important;
}
.nav-icon {
  display: none;
}

.nav-icon:focus {
  color: $orange;
}

.nav-close-btn{
  font-size: 32px !important;
  margin-right: 5px;
}

.nav-open-btn{
   color: $blackpearl;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    position: absolute;
    width: 100%;
    top: 75px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .wh-nav-dropdown {
    // margin-left: 35px;
    border-radius: 1px !important;
    background: $mintcream;
  }
  .icon-header-text {
    text-decoration: inherit;
    color: $orange;
    font-size: 15px;
    padding: 12px;
  }

  .nav-menu.active {
    background: $white;// linear-gradient(25deg, $darkslateblue, $blackcurrant);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-right: 30px !important;
  }

  .nav-item {
    line-height: 40px !important;
    margin-left: 1px !important;
  }
  li {
    border-bottom: 2px solid $aliceblue;
    width: 100% !important;
  }

  .nav-item .active {
    color: $bayofmany;
    border: none;
  }

  .nav-links {
    padding: 1rem 0 1rem 0;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-60%, 30%);
    font-size: 1.8rem;
    cursor: pointer;
    color: $blackpearl;
  }
  .nav-login-button {
    margin: 10px 30px 30px 40px;
    padding: 1rem 4rem 1rem 4rem;
    background-image: linear-gradient(0deg, $tangerineyellow 0%, $lemonchiffon 100%);
    border-radius: 5px;
    font-size: 16px !important;
  }
  .nav-login-button:focus{
    outline: none;
    box-shadow:none !important;
  }
  .nav-item-login {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wx-icon-link-btn {
    color: $blackpearl !important;
    margin-right: 10px !important;
  }
}
.wx-icon-link {
  color: $tangerineyellow;
  margin-right: 5px;
  font-size: .71em;
  margin-bottom: 2px
}
.wx-icon-link-btn {
  color: $blackpearl;
  margin-right: 7px;
  font-size: .71em;
  margin-bottom: 1px
}
.wx-icon-toggle {
  margin-left: 5px;
  font-size: .90em;
  margin-bottom: 3px
}
.modal-top{
  background-color: $ivory !important;
}
.modal-body{
  background-color: $pattensblue !important;
}
.modal-align-top {
  margin-top: 80px;
}
.card-model-nav-product {
  box-shadow: 0 1px 20px 0px rgba(10, 0, 10, 0.2);
  border-top: 10px solid $tangerineyellow;
  border-radius: 3px;
  min-height: 450px;
}
.margin-model-nav-all-prod{
  padding: 2rem;
}
.margin-model-nav-text{
  padding: 10px;
}
.nav-model-button {
  padding: .3rem 1rem .3rem 1rem;
  background-image: linear-gradient(0deg, $tangerineyellow 0%, $lemonchiffon 100%);
  color: $blackpearl;
  border-radius: 5px;
  text-decoration: none;
}
.nav-model-button:focus{
  outline: none;
  box-shadow:none !important;
}
.nav-model-button:hover{
  background: $shandy;
  color: $darkgreen;
}
.nav-text-wejobs{
color: $robineggblue;
}