@import "../../../../../../styles/sass/index.scss";

.jd-content-cc {
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  font-family: $dmSans;
  color: $onyx;
}
.jd-title-cc {
  margin-top: 10px;
  font-weight: 550;
  font-size: 14px;
  font-family: $dmSans;
  color: $onyx;
}
.card-icon-arrow-cc {
  height: 12px;
  color: $easternblue;
  margin: 4px 10px 0 0;
}
