@import "../../../../styles/sass/index.scss";

.ww-resume-tab-container {
  margin-top: 10px;
}
.ww-resume-card {
    border: none !important;
}
.ww-resume-tab-headers {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: $white !important;
  color: $black !important;
  border-bottom: none !important;
  &:hover,
  &:active {
    background-color: $white !important;
  }
}
.ww-resume-nav-tabs {
  font-stretch: ultra-expanded;
  border: none !important;
  color: $davysgrey;
  opacity: 0.8;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: $dmSans;
  text-transform: uppercase;
  &:hover {
    font-stretch: ultra-expanded;
    border-bottom: solid 1px $black !important;
    color: $black !important;
    opacity: 1;
  }
}
.ww-resume-nav-tabs.active {
  font-stretch: ultra-expanded;
  border-bottom: solid 1px $black !important;
  color: $black !important;
  opacity: 1;
}
.ww-resume-tabpane {
    margin-top: 50px; 
}
@media only screen and (max-width: 500px) { 
  .ww-resume-tab-container {
    margin-top: 60px;
  }
}