@import "../../styles/sass/index.scss";

.coach-form-container{
    background: #fdf3f1;
    min-height: 100vh;
    max-width: 100% !important;
    height:auto;
    // background-image: url("https://undrgradresearch.stanford.edu/sites/g/files/sbiybj22316/files/styles/card_1900x950/public/media/image/OnlineMentoring.png?h=9e499333&itok=nSJQDJmJ");
    // background-size: cover;
    padding: 5px;
    margin-top: 80px;
}